@tailwind base;
@tailwind components;
@tailwind utilities;

:root { color-scheme: dark; }

body {
  @apply bg-black text-white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'SF Pro Text','Segoe UI', sans-serif;
}
